{% extends "temp/header.html" %}
{% block title %} Customise Email  Template  {% endblock %}
{% load static %}
{% block content %}
              <!-- .sidebar-section -->
              <div class="sidebar-section sidebar-section-fill">
                <h1 class="page-title">
                  <i class="text-muted "></i></h1>
                  {% if messages %}
                  {% for message in messages %}
                  <div class="col-lg-12">
                    <div class="alert alert-primary alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">x</button> <strong>Hi, </strong> {{message}} <a href="#" class="alert-link"> </a>. </div>
                  </div><!-- /grid column -->     
                  {% endfor %}
                  {% else %}
                <!-- grid column -->
           
                  {% endif %}
                  
                {% include 'temp/menu.html' %}
                <br>
                <div class="list-group-item-body">
                  <p class="list-group-item-title text-danger"> <strong>CUSTOMING TEMPLATE 1</strong> </p>
                  <hr>
                </div><!-- /.list-group-item-body -->
                <br>
                    <!-- .card -->
                    <form action="/create_template1" onsubmit="submutbutton.disabled = true; return true;" enctype="multipart/form-data" method="POST">
                      {% csrf_token %}
                              <!-- .form-row -->
                              <div class="form-row">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cnContactEmail">Template name ((Also serve as email subject))</label> 
                                    <input type="text" name="templatename" id="cnContactEmail" placeholder="New Campaign" class="form-control" autocomplete="OFF" required>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                <div class="form-group">
                                <label for="tf3">Banner</label>
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="banner" id="tf3" accept="image/png, image/gif, image/jpeg"> 
                                  <label class="custom-file-label" for="tf3">Choose Banner (600 x 200)</label>
                                </div>
                                </div><!-- /.form-group -->
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cnContactEmail">About company title</label> 
                                    <input type="text" name="title" id="cnContactEmail" placeholder="About Our Company" class="form-control" autocomplete="OFF" required>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="tf6">About company text</label>
                                    <textarea class="form-control" id="tf6" name="abouttext" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac purus sit amet nisl tincidunt aliquam. Nullam rhoncus lectus in urna condimentum, ac consequat lorem sagittis. Suspendisse potenti." rows="5" required></textarea>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cnContactEmail">More Information </label> 
                                    <input type="text" name="moreinfo" id="cnContactEmail" placeholder="For more information, visit our website" class="form-control" autocomplete="OFF" required>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cnContactEmail">Website </label> 
                                    <input type="text" name="website" id="cnContactEmail" placeholder="www.example.com" class="form-control" autocomplete="OFF" required>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cnContactEmail">Product text </label> 
                                    <input type="text" name="producttext" id="cnContactEmail" placeholder="Featured Products" class="form-control" autocomplete="OFF" required>
                                  </div>
                                </div>
                                </div>
                            <!-- .modal-footer -->
                            <div class="modal-footer">
                              <input type="submit" class="btn btn-primary"  onclick="return checksendemail();"  name="submutbutton"  value="Save"> 
                            </div><!-- /.modal-footer -->
                      </div>
                    </form><!-- /.modal -->


              </div><!-- /.sidebar-section -->


              <script>
                function checksendemail() {
                  if (confirm("Are you sure you want to create template? ")) {
                    return true
                  }
                  return false
              }
              </script>
              
{% endblock %}