{% extends "temp/header.html" %}
{% block title %} Import Lead   {% endblock %}
{% load static %}
{% block content %}
              <!-- .sidebar-section -->
              <div class="sidebar-section sidebar-section-fill">
                <h1 class="page-title">
                  <i class="text-muted "></i></h1>
                  {% if messages %}
                  {% for message in messages %}
                  <div class="col-lg-12">
                    <div class="alert alert-primary alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">x</button> <strong>Hi, </strong> {{message}} <a href="#" class="alert-link"> </a>. </div>
                  </div><!-- /grid column -->     
                  {% endfor %}
                  {% else %}
                <!-- grid column -->
           
                  {% endif %}
                  
                {% include 'temp/menu.html' %}
                <br>
                <div class="list-group-item-body">
                  <p class="list-group-item-title text-danger"> <strong>IMPORT DATA FROM EXCEL</strong> </p>
                  <hr>
                </div><!-- /.list-group-item-body -->
                <br>
                    <!-- .card -->
                    <form action="/import_lead_" onsubmit="submutbutton.disabled = true; return true;" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                              <!-- .form-row -->
                              <div class="form-row">
                                <br>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="tf3"> Before importing, Kindly refer to the sample <a href="{% static 'assets/excel.png' %}" target="_blank" >"Click Here"</a> Excel columns. Failure to import correctly may occur without following the provided format.</label>
                                    <br><br>
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" name="excel_lead" id="tf3" accept=".xls, .xlsx" required> 
                                      <label class="custom-file-label"  for="tf3">Choose excel file</label>
                                    </div>
                                  </div><!-- /.form-group -->
                                </div>
                                </div>
                            <!-- .modal-footer -->
                            <div class="modal-footer">
                              <input type="submit" class="btn btn-primary" name="submutbutton"  value="Import"> 
                            </div><!-- /.modal-footer -->
                      </div>
                    </form><!-- /.modal -->
                    </div>
              </div><!-- /.sidebar-section -->
              
{% endblock %}