{% extends "temp/header.html" %}
{% block title %} Sms Log   {% endblock %}
{% load static %}
{% block content %}
              <!-- .sidebar-section -->
              <div class="sidebar-section sidebar-section-fill">
                <h1 class="page-title">
                  <i class="text-muted "></i></h1>
                  {% if messages %}
                  {% for message in messages %}
                  <div class="col-lg-12">
                    <div class="alert alert-primary alert-dismissible fade show">
                      <button type="button" class="close" data-dismiss="alert">x</button> <strong>Hi, </strong> {{message}} <a href="#" class="alert-link"> </a>. </div>
                  </div><!-- /grid column -->     
                  {% endfor %}
                  {% else %}
                <!-- grid column -->
           
                  {% endif %}
                  
                {% include 'temp/menu.html' %}
                <br>
                               <!-- .card -->
                               <div class="card mt-4">
                                <!-- .card-body -->
                                <div class="card-body">
                                  <h2 class="card-title"> MY TEMPLATE DESIGN </h2><!-- .table-responsive -->
                                  <div class="table-responsive">
                                    <table class="table table-hover" style="min-width: 678px">
                                      <thead>
                                        <tr>
                                          <th> Email </th>
                                          <th> Status </th>
                                          <th> Project Name </th>
                                          <th> Design </th>
                                          <th> Update </th>
                                          <th> Products </th>
                                          <th> Delete </th>
                                          <th> Date Create </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for eachtemplate in template %}
                                        <tr>
                                          {% if eachtemplate.status  %}
                                          <td class="align-middle"> <a href="/customise_template_2" class="text-danger">NEW EMAIL</a> </td>
                                          {% else %}
                                          <td class="align-middle"> <a href="/send_template2_email/{{eachtemplate.id}}" class="text-danger">SEND NOW</a> </td>
                                          {% endif %}
                                          {% if eachtemplate.status  %}
                                          <td class="align-middle"> Sent </td>
                                          {% else %}
                                          <td class="align-middle"> Pending </td>
                                          {% endif %}
                                          <td class="align-middle"> {{eachtemplate.templatename}} </td>
                                          {% if eachtemplate.status  %}
                                          <td class="align-middle">
                                            <a href="/preview_draft_template2/{{eachtemplate.id}}" target="blank_">Preview Sent Email</a>
                                        </td>
                                        {% else %}
                                        <td class="align-middle">
                                          <a href="/preview_draft_template2/{{eachtemplate.id}}" target="blank_">Preview Email Design</a>
                                      </td>
                                        {% endif %}
                                        {% if eachtemplate.status  %}
                                          <td class="align-middle"> 
                                            <a href="#this_email_has_been_sent_already">Update Disable</a>
                                         </td>
                                         {% else %}
                                         <td class="align-middle"> 
                                          <a href="/update_template_2/{{eachtemplate.id}}">Update Design</a>
                                       </td>
                                         {% endif %}
                                         {% if eachtemplate.status  %}
                                         <td class="align-middle"> 
                                          <a href="#this_email_has_been_sent_already">Add List</a>
                                       </td>
                                       {% else %}
                                       <td class="align-middle"> 
                                        <a href="/list_template2/{{eachtemplate.id}}">Add List</a>
                                     </td>
                                       {% endif %}
                                       {% if eachtemplate.status  %}
                                       <td class="align-middle"> 
                                        <a href="#this_email_has_been_sent_already"  class="text-danger">Delete</a>
                                     </td>
                                     {% else %}
                                     <td class="align-middle"> 
                                      <a href="/delete_template2/{{eachtemplate.id}}" onclick="return delete_template()" class="text-danger">Delete</a>
                                   </td>
                                     {% endif %}
                                          <td class="align-middle"> {{eachtemplate.created_at.date}} </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </div><!-- /.table-responsive -->
                                </div><!-- /.card-body -->

<script>
function delete_template() {
if (confirm("Kindly deleting an active campaign will affect the emails content ?")) {
  return true
   }
  return false
   }
</script>
{% endblock %}